<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
      <small class="d-block mb-3 text-muted">&copy; 2017–2022</small>
    </div>
    <div class="col-6 col-md">
      <h5>Sobre nós</h5>
      <p>A <strong>LOJA</strong> surgiu da busca do nosso fundador, por <strong>produtos inovadores e diferentes</strong> dos encontrados aqui no Brasil por um <strong>preço competitivo</strong>, nosso maior desejo é trazer produtos de <strong>qualidade que sejam acessíveis</strong> a maior quantidade de pessoas.</p>
    </div>
    <div class="col-6 col-md">
      <h5>Ajuda</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Sobre nós</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Perguntas frequentes</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Termo de Uso e Condições</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Política de Troca e Reembolso</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Úteis</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Forma de pagamento</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Rastrear meu pedido</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Contato - Fale Conosco</a></li>
      </ul>
    </div>
  </div>
</footer>
